body{
    /* 0不用寫單位 其他數字依定要寫單位 */
    margin: 0;
    background-image: url(./images/bg.jpg);
}
.box{
    width: 1000px;
    margin: 0 auto; /* 間距(auto)自動偵測必須搭配寬度(width) */
     /*中間插入註解【shift+alt+A】 */
}
img{
    display: block;
}
/* 不要用圖片單獨排版，包在一個DIV裡面 */
/* CSS沒有順序問題*/
.btn{
    float: left;/* 用float浮動區塊去覆蓋原來的bloc，寬高自動抓內容k */
}
.col{
    font-size: 16px;
    float: left;
    width: 446px;
    border: 2px dotted #ffffff;
    margin: 10px;
    padding: 10px;

    /*文字會自動延展，要自訂尺寸*/
}
.col span{   
    /* <span>主要拿來修改標籤 */
    color: #af1818;
}
hr{
    border: #af1818 1px solid;
}
/* 【單位】rem 跳過他爸，em 取決他爸 */
h1{
    font-size: 2rem;
}
h2{
    font-size: 150%; /* 相等Font-size:1.5em */
}
P{
    font-size: 1em;/* <p>預設font-size: 1em; */
}
/* 【.=class】 */

address{
    font-style: normal;
}

.footer{
    width: 1000px;
    margin:0 auto;
    clear:both;
    text-align: center;
}
iframe{
    display: block;
    margin: 0 auto;
}